.nav-container{
    position: fixed;
    height: 40px;
    left:0;
    top:0;
    right:0;
    z-index: 5;
    background-color: white;
}
.nav{
    column-gap: 6rem;
}
.signin-inputs{
    row-gap: 1rem;
}
input{
    width:700px;
    text-align: c;
}
button{
    width:700px;
    border:none;
}